{% extends "base.html"%}

{% block content %}
<p>{{ profile.photo }}Username: {{ profile.username }}</p>
<p>Name: {{ profile.first_name }}</p>
<p>Surname: {{ profile.last_name }}</p>
<p>Registration date: {{ profile.date_joined }}</p>
{% if user.username != profile.username  %}
    <p>Country: {{ profile.country }}</p>
    <p>Description: {{ profile.description}}</p>
{% endif %}
<p>
    <a href='{% url "followers" profile.username %}'>Followers: {{ followers_num.count_followers }}</a>  
    <a href='{% url "following" profile.username %}'>Following: {{ followers_num.count_following }}</a>
</p>
<br><br>
<a href="#">Edit profile</a>
<br>
<a href="">Add new twit</a>
{% endblock content %}
