{% extends "base.html"%}

{% block content %}
{% if profile.photo %}
    <img src="{{ profile.photo.url }}">
{% endif %}
<p></p>
<p>Usermane: {{ profile.username }}</p>
<p>Name: {{ profile.first_name }}</p>
<p>Surname: {{ profile.last_name }}</p>
<p>Registration date: {{ profile.date_joined }}</p>
<p>Country: {{ profile.country }}</p>
<p>Description: {{ profile.description}}</p>
<p>
    <a href='{% url "followers" profile.username %}'>Followers: {{ profile.count_followers }}</a>  
    <a href='{% url "following" profile.username %}'>Following: {{ profile.count_following }}</a>
</p>
<br><br>
{% if not profile in user.followers.all %}
    <a href='{% url "follow" profile.username %}?operation=add'>Follow</a>
{% else %}
    <a href='{% url "follow" profile.username %}?operation=remove'>Unfollow</a>
{% endif%}
{% block view_twits%}
{% for t in twits.data %}
  <p>
    <a href='{% url "profile_users" t.profile.username %}'>{{ t.profile.username }}</a>
    &nbsp;
    {{ t.profile.first_name }}
    {{ t.profile.last_name }}
    &nbsp;
    {{ t.created_at.day }}.{{ t.created_at.month }}.{{ t.created_at.year }}
  </p>
  <p>{{ t.text }}</p>
  <p></p>
  <p>
    Likes: {{ t.count_like }}
    &nbsp;
    Reposts: {{ t.count_repost }}
    &nbsp;
    Answer: {{ t.count_answer }}
  </p>
    <a href='{% url "view_twit" t.id %}'>View twits</a>
  <br><br>
{% endfor %}

<p>
  {% if twits.prev_page %}
    <a href='{% url "profile_users" profile.username %}?page={{ twits.prev_page }} '>Prev</a>
  {% endif %}
  &nbsp;
  {% for i in twits.navigation_num %}
    {% if i == '…' %}
      {{ i }}
    {% else %}
      <a href='{% url "profile_users" profile.username %}?page={{ i }}'>{{ i }}</a>
    {% endif %}
  {% endfor %}
  &nbsp;
  {% if twits.next_page %}
      <a href='{% url "profile_users" profile.username %}?page={{ twits.next_page }}'>Next</a>
  {% endif %}
</p>

{% endblock%}
{% endblock content %}
