{% extends "base.html"%}
{% load add_link %}

{% block content %}
  <p>
    <a href='{% url "profile_users" twit.profile.username %}'>{{ twit.profile.username }}</a>
    &nbsp;
    {{ twit.profile.first_name }}
    {{ twit.profile.last_name }}
    &nbsp;
    {{ twit.created_at.day }}.{{ twit.created_at.month }}.{{ twit.created_at.year }}
  </p>
  <p>{{ twit.text|text_link_filter }}</p>
  <p></p>
  <p>
    {% for t in tags %}
        #{{ t.tag }}
    {% endfor %}
  </p>

  <a href='{% url "create_answer_to_twit" twit.id %}'>Answer</a>
  {% if twit.profile == user %}
    &nbsp;
    <a href='{% url "edit_twit" twit.id %}'>Edit twit</a>
    &nbsp;
    <a href='{% url "delete_twit" twit.id %}'>Delete twit</a>  
  {% else %}
    {% if not like_twit %}
      <a href='{% url "like_twits" twit.id %}?operation=add'>Like</a>
    {% else %}
      <a href='{% url "like_twits" twit.id %}?operation=delete'>Remove like</a>
    {% endif%}
    &nbsp;
    {% if not repost_twit %}
      <a href='{% url "repost_twits" twit.id %}?operation=add'>Repost</a>
    {% else %}
      <a href='{% url "repost_twits" twit.id %}?operation=delete'>Remove repost</a>
    {% endif %}
  {% endif %}
  <h3>Answer</h3>
  {% for a in twits_ansver %}
  <p>
    <a href='{% url "profile_users" a.profile.username %}'>{{ a.profile.username }}</a>
    &nbsp;
    {{ a.profile.first_name }}
    {{ a.profile.last_name }}
    &nbsp;
    {{ a.created_at.day }}.{{ a.created_at.month }}.{{ a.created_at.year }}
  </p>
  <p>{{ a.text }}</p>
  <a href='{% url "view_twit" a.id %}'>View twits</a>
  {% endfor %}

{% endblock %}