{% extends "base.html"%}

{% block content %}
  <p>
    <a href='{% url "profile_users" twit.profile.username %}'>{{ twit.profile.username }}</a>
    &nbsp;
    {{ twit.profile.first_name }}
    {{ twit.profile.last_name }}
    &nbsp;
    {{ twit.created_at.day }}.{{ twit.created_at.month }}.{{ twit.created_at.year }}
  </p>
  <p>{{ twit.text }}</p>
  <p></p>
  <p>
    {% for t in tags %}
        #{{ t.tag }}
    {% endfor %}
  </p>
  {% if twit.profile == user %}
    &nbsp;
    <a href=''>Edit twit</a>
    &nbsp;
    <a href='{% url "delete_twit" twit.id %}'>Delete twit</a>  
  {% else %}
    {% if not user in twit.like.all %}
      <a href='{% url "like_twits" twit.id %}?operation=add'>Like</a>
    {% else %}
      <a href='{% url "like_twits" twit.id %}?operation=delete'>Remove like</a>
    {% endif%}
    &nbsp;
    {% if not user in twit.repost.all %}
      <a href='{% url "repost_twits" twit.id %}?operation=add'>Repost</a>
    {% else %}
      <a href='{% url "repost_twits" twit.id %}?operation=delete'>Remove repost</a>
    {% endif %}
  {% endif %}
  
{% endblock %}